/* CSS-змінні */
:root {
    --black-color: #212121;
    --blue-color: #2196F3;
    --white-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    background-color: #ffffff;
    font-size: 14px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}


/* HEADER */
.header {
    border-bottom: 1px solid #ECECEC;
}

ul {
    list-style-type: none;
}

.header-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--black-color);
    letter-spacing: 0.03em;
}

.blue-logo-part {
    color: var(--blue-color);
}

.site-nav .link {
    color: var(--black-color);
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--blue-color);
}

.link-contacts  {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.link-contacts:hover,
.link-contacts:focus {
    color: var(--blue-color);
}

.site-nav .link.current {
    color: var(--blue-color);
}

/* HERO */
.hero {
    background-color: #2F303A;
    height: 600px;
}

.hero-heading {
    color: var(--white-color);
    font-size: 44px;
    text-align: center;
    font-weight: 900;
    line-height: 1.36;
    height: 120px;
    width: 696px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.hero-btn {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--blue-color);
    color: var(--white-color);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid transparent;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover {
    background-color: #188CE8;
}


/* Скрытый заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Особоенности */
.benefits-title {
    color: var(--black-color);
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.benefits-text {
    line-height: 1.71;
    text-align: left;
    letter-spacing: 0.03em;
}

.work-title {
    color: var(--black-color);
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.03em;
}

.team {
    background-color: #F5F4FA;
}

.card {
    width: 270px;
    height: 368px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    color: var(--black-color);
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.03em;
}

.team-subtitle {
    font-weight: 500;
    color: var(--black-color);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.footer {
    width: 100%;
    height: 252px;
    background-color: #2F303A;

}

.link-contacts-footer {
    line-height: 1.71;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.logo-footer {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.company-address {
    font-style: normal;
    color: var(--white-color);
    line-height: 1.71;
}

.container-portfolio {
    width: 100%;
    max-width: 1170px;
}

.button {
    font-weight: 500;
    line-height: 1.62;
    font-size: 16px;
    margin: 8px;
    cursor: pointer;
    background-color: #F5F4FA;
    color: var(--black-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
    letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
    background-color: var(--blue-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filter .button.current {
    background-color: var(--blue-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-card {
    border: 1px solid #EEEEEE;
}

.photo-card h2 {
    color:  var(--black-color);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.photo-card p {
    line-height: 1.88;
    font-size: 16px;
    letter-spacing: 0.03em;
}